# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


# Windows shortcuts
*.lnk

# Temporal Files
*.tmp
~$quisitos UM BOOK 2016.docx
1 - Captura de Requisitos/1-4 Modelo de Dominio y de Negocio/Modelo de Negocios.png.bak
